
.topnav {
  overflow: hidden;
  background-color: green;
  color: white;
  font-size: 30px;
  padding: 2px 10px;
  font-family: Courier;
   }

.topnav a {
  float: right;
  color: white;
  font-family: Lato;
  text-align: center;
  padding:10px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: white;
  color: green;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

 h1 {
   text-align: center;
   font-size:50px;
   font-family: Lato;
   color: black;
   padding: 30px 16px;
   font-weight: 400;
}

.one {
   width: 450px;
   padding-top: 1px;
   padding-left: 50px;
   padding-right: 50px;
   float: left;
   margin-left: 25px;
}

.two {
   width: 400px;
   padding: 1px 20px;
   float: left;
}

.three {
   width: 400px;
   padding: 1px 1px;
   float: right;
   margin-right: 15px;

}

.large-p {
   text-align: center;
   font-size: 23px;
   color: darkslategrey;
   font-family: Lato;
   margin-right:2px;
   padding-right: 50px;
}

.col-xs-12, .col-sm-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100%;

}

.col-sm-8 {
    width: 66.66666667%;
  }

.col-sm-offset-2{

    margin-left: 16.66666667%;
}

.btn-cta {
  font-size: 30px;
  text-align: center;
}

.signup-btn.btn {
  background-color: #ffac33;
  background-image: linear-gradient(#ffcc4d, #ffac33);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d,  endColorstr=#ffac33,  GradientType=0)";
  border-color: #f1a02a;
  color: #292f33 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.btn-block {
  display: block;
  width: 100%;
}
